/* styles/Home.module.css */
.container {
  color: white;
  background-color: #1a1a1a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  padding: 25px 20px;
  text-align: center;
  background: linear-gradient(135deg, #2b5876 0%, #4e4376 100%);
  margin-bottom: 15px;
}

.subtitle {
  color: #bbbbbb;
  margin-top: 10px;
}

.pitch div {
  border: 3px solid transparent;
  border-image: linear-gradient(135deg, #2b5876 0%, #4e4376 100%) 5;
  height: 100%;
}

.pitch p {
  text-align: center;
  font-size: large;
  line-height: 2rem;
  padding: 10px 5px 5px 15px;
}

.course {
  background-color: #252525;
  padding: 10px 15px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.course h3 {
  margin-bottom: 18px;
}

.course:hover {
  transform: translateY(-5px);
}

.button {
  font-weight: 700;
  background: linear-gradient(135deg, #2b5876 0%, #4e4376 100%);
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.2s;
  color: #bbbbbb;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  /* Box-shadow to create a raised effect */
  box-shadow: 4px 3px rgba(111, 105, 105);
  border-image-slice: 1 1 1;

  margin-bottom: 15px;
  transform: translateY(-2px);
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  /* background-color: #6b5b95; */

  background: linear-gradient(230deg, #2b5876 0%, #4e4376 100%);
  box-shadow: none;
  transform: translateY(0px);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.01s ease-out;
}

.community {
  padding: 40px 20px;
  background-color: #252525;
  text-align: center;
}

.workshops {
  padding: 40px 20px;
}

.workshops h2 {
  text-align: center;
}

.workshopThumbnail {
  margin-top: 20px;
  width: fit-content;
}

.workshopVideoTitle {
  width: fit-content;
  text-align: left;
  font-size: 1rem;
}

.workshopThumbnail img {
  max-width: 100%;
  border: 2px solid #333;
  /* border-radius: 5px; */
}

.footer {
  padding: 20px;
  background-color: #333;
  text-align: center;
}

.footer svg {
  margin-right: 10px;
}

.footer p {
  margin-top: 10px;
}
